:root {
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: #ffffff;
    --textSoft: #b7bac1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}